.NavigationBarBox {
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 70px;
    padding-top: 1rem;
}

.NavLogo{
    width: 170px;
    max-height: 90px;
    margin-top: calc(50px - 25px);
    margin-right: 35%;
}
.NavItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavItems > div {
    width: 4.5rem;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
}

.NavItems > div:hover {
    cursor: pointer;
}
.NavItems a{
    
}

a{
    color: inherit;
    text-decoration: none;
}